<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <title>testing </title>
    <link rel="stylesheet" href="css/pure-min.css"/>
    <link rel="stylesheet" href="css/styles.css"/>
</head>

<body>

    <div class="payment-card">

        <img src="img/cute.gif" alt="">

        <h2>Want this amazing picture?</h2>
        <form class="pure-form pure-form-stacked " action="/process" method="post">
            <fieldset>
                <div class="pure-g">
                    <label class="pure-u-1-3 label" for="amount">price:</label>
                    <input class="pure-u-2-3" id="amount" class="pure-input-1" name="amount" type="text" placeholder="XX.XX" required>
                </div>

                <br>

                <div id="checkout"></div>

                <button type="submit" class="pure-button pure-button-primary">Pay now</button>

            </fieldset>
        </form>
    </div>

    <script src="js/braintree.js"></script>
    <script>
        braintree.setup('<%- clientToken %>', 'dropin', {
            container: 'checkout'
        });
    </script>

</body>

</html>