* {
  box-sizing: border-box;
}

.payment-card {
  max-width: 500px;
  margin: 20px auto;
  padding: 30px;
  border: 1px dashed #ccc;
  color: #616161;
  z-index: 10;
}

#checkout {
  padding: 15px 0 20px 0;
}

hr {
  border: 0;
  border-top: 1px solid #e9e9e9;
  margin: 20px 0;
}

.success {
  color: #d96c84;
}

.error {
  color: #b2435b;
}

.label {
  padding-top: 9px;
}